/* .row{
    width: 90%;
    margin: auto;
} */
body{
    font-family: monospace;
    font-size: 20px;
    font-style: normal;
}
figure{
    padding: auto;
    width: 30%;
    display: inline-block;
    margin-left: 0;

}
.title{
    text-transform: uppercase;
    width: 100%;
    text-align: center;
    
}
.title_desc{
    display: none;
}
.row, .title{
    padding-bottom: 15px;
    border-bottom: 2px dashed black;
}
img{
    font-family: sans-serif;
    font-size: 21px;
    font-style: italic;
}