div.top{
    display: inline-block;
    width: 100px;
    height: 60px;
    margin-inline-end: 40px;
    border: 1px solid black;
}
div.german{
    width: 100%;
    height: 33%;
}
div.german#top{
    background-color: black;
}
div.german#mid{
    background-color: red;
}
div.german#low{
    background-color: yellow;
}

div.japan#bg{
    background-color: white;
    width: 100%;
    height: 100%;
}
div.japan#cir{
    background-color: red;
    width: 38%;
    height: 50%;
    position: relative;
    bottom: 75%;
    left: 31%;
    border-radius: 50%;
    z-index: 1;
}
div.nigeria{
    height: 100%;
    width: 30.1%;
    display: inline-block;
    margin: 0;
}
div.nigeria#side{
    background-color: green;
}
div.nigeria#mid{
    background-color: white;
}
div.yemen{
    width: 100%;
    height: 33%;
}
div.yemen#top{
    background-color: red;
}
div.yemen#mid{
    background-color: white;
}
div.yemen#low{
    background-color: black;
}
div.netherlands{
    width: 100%;
    height: 33%;
}
div.netherlands#top{
    background-color: red;
}
div.netherlands#mid{
    background-color: white;
}
div.netherlands#low{
    background-color: blue;
}
div.poland{
    width: 100%;
    height: 50%;
    display: inline-block;
}
div.poland#top{
    background-color: white;
}
div.poland#low{
    background-color: red;
}